<!--<p>home works!</p>-->


<h1>Admin Functions:</h1>

<div class="btn-group">
  <button><a routerLink="/trip">show All Trip List</a></button>
  <button><a routerLink="/add-trip">Add Trip</a></button>
  <button><a routerLink="/removetrip">Delete Trip by id</a></button>
  <button><a routerLink="/searchtrip">Search Trip by name</a></button>
  <button><a routerLink="/updatetrip">Update Trip by id</a></button>
  <button><a routerLink="/station">Show All station List</a></button>
  <button><a routerLink="/add-station">Add Station</a></button>
  <button><a routerLink="/removestation">Delete Station by id</a></button>
  <button><a routerLink="/searchstation">Search station by name</a></button>
</div>





              
        
        
            
        
  
  
              
  