<!--<p>searchbyname of STATION works!</p>-->

<input type="text" placeholder="Search name" [(ngModel)]="name" (input)="search()"> 
     
        <table class="table" style="border:solid;">
            <thead>
              <tr>
                <th scope="col">#id</th>
                <th scope="col">name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stat of station">
                <th >{{stat.id}} </th>
                <td>{{stat.name}}</td>
              </tr>
         
            </tbody>
          </table>

          <button class="'nav"><a routerLink="/home">home</a></button>
         