

<p>update-trip works!</p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">start time</th>
        <th scope="col">end time</th>
        <th scope="col">trip Name</th>
        <th scope="col">from station id</th>
        <th scope="col">from station name</th>
        <th scope="col">to station id</th>
        <th scope="col">to station name</th>
        <th scope="col">update</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of trips">
        <td>{{t.id}}</td>
        <td>{{t.start_time}}</td>
        <td>{{t.end_time}}</td>
       <td>{{t.name}}</td>
       <td>{{t.from_station.id}}</td>
       <td>{{t.from_station.name}}</td>
       <td>{{t.to_station.id}}</td>
       <td>{{t.to_station.name}}</td>
       <!--<td><button (click)="updatetrip(t.id)">Update</button></td>-->
      <td><button id="edit" type="button" (click)="modifyTrip(t)">update</button></td>
      </tr>
 
    </tbody>
  </table>

  <button class="'nav"><a routerLink="/home">home</a></button>