 
<div>

  <mat-toolbar>
    <span>Trip Scheduler</span>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>

<!--


 <app-trip-list> </app-trip-list>
<app-updatetrip></app-updatetrip>


    <app-trip-list> </app-trip-list>

<app-add-trip></app-add-trip>

<app-updatetrip></app-updatetrip>
<app-station-list></app-station-list>
<app-remove-station></app-remove-station>


<app-station-list></app-station-list>
<app-add-station></app-add-station>
<router-outlet></router-outlet>
<app-trip-list></app-trip-list>
<app-add-trip></app-add-trip>
<app-station-list></app-station-list>

<app-add-trip></app-add-trip>
-->
