
.mat-toolbar{
    color: white;
    background-color: rgb(28, 28, 89);
    font:400;
    font-size: 1cm;
    font-family:Cursive;
}

.form{
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   text-align: center;
}
